* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: silver;
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

button:hover {
    cursor: pointer;
}

.Line {
    width: 350px;
    height: 3px;
    background: black;
    border-radius: 60%;
}

.BemVindoDiv {
    background-color: white;
    display: flex;
    height: 50%;
    width: 60%;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 4px black;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-device-width: 500px) {
    .BemVindoDiv {
        width: 100%;
    }
}

@media screen and (max-height: 600px) {
    body {
        overflow-y: auto;
    }
    .BemVindoDiv {
        height: 300px;
    }

}

.BtnBemVindoDiv {
    border: none;
    border-radius: 0 10px;
    height: 30px;
    width: 150px;
    box-shadow: 2px 2px 4px black;
}

.centralizado {
    align-self: center;
}
/*
.FooterDiv {
    background: #607D8B;
    width: 100%;
    display: flex;
    border-radius: 0 0 10px 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.FooterDiv span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.FooterDiv span button {
    border: none;
    margin-left: 5px;
    border-radius: 0 10px;
    box-shadow: 2px 2px 4px black;
}
*/
